
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    section#wrapper!=body
        block content
    footer
        H3(align='center') User Authentication management using Lockit
        P This application uses lockit, which is user management library modelled on lines of Devise.
    div(class="panel panel-default")
        div(class="panel-heading")
            a(href="/") Index
            a(href="/signup")  Signup
            a(href="/Login")   Login
            a(href="/forgot-password")    Forgot Password
            a(href="/delete-account")    Delete Account
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
