
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    section#wrapper!=body
        block content
    footer
        H3(align='center') User Authentication management using Lockit
        P This application uses lockit, which is user management library modelled on lines of Devise.
